.video-div {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.pad {
  padding: 0;
}

.img_pro {
  width: 360px;
  height: 225px;
}
@media (max-width: 375px) {
  .img_pro {
    width: 100%;
  }
}
@media (max-width: 475px) {
  .img_pro {
    width: 100%;
  }
}
