/* ContactForm.css */

.contact-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;

  border-radius: 16px;
  background-color: #353535;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-form-container h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #fffbfb;
  border-radius: 4px;
}

.form-group textarea {
  height: 150px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #1b1b1b;
  color: #fff;
  border: none;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button[type="submit"]:hover {
  background-color: #fffbfb;
  color: #1b1b1b;
}
