/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fbfbfb;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #242436;
  border-radius: 8px;
  color: white;
  padding: 10px 20px;
  border: none;
  margin: 5px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
button:hover {
  background-color: #e9e9e9;
  color: #242436;
}
.component-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.component {
  background-color: #474747;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
}

/* ComponentA.module.css */
.component {
  background-color: #474747;
  padding: 20px;
  margin: 10px;
  border: 1px solid red;
  border-radius: 5px;
  color: #ffffff;
}

/* ComponentB.module.css */
.component {
  background-color: #474747;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
}

/* Create similar CSS module files for ComponentC and ComponentD */
@media (max-width: 600px) {
  .appContainer {
    /* Adjust styles for smaller screens */
    padding: 10px;
  }

  .buttonContainer {
    /* Adjust styles for smaller screens */
    flex-direction: column;
  }

  .button {
    /* Adjust button styles for smaller screens */
    margin: 5px 0;
    width: 100%;
  }
}
